* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  color: rgb(63, 63, 63);
}

h3 {
  font-weight: 200;
  font-size: 1.2rem;
  color: rgb(63, 63, 63);
}

.style_title {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  height: 15vh;
}
header .menu__btn {
  display: none;
}
header .menu__btn:checked ~ .menu {
  opacity: 1;
  left: 0;
}
header .menu__btn:checked ~ .menu__icon {
  opacity: 0;
}
header .menu__icon {
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.4s ease-out;
}
header .menu__icon i {
  color: cadetblue;
  font-size: 2rem;
  transition: all 0.4s ease-out;
}
header .menu {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 100vh;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: 0.5s left ease-out;
  transition: 0.8s opacity ease-out;
}
header .menu__items {
  background-color: rgba(255, 255, 255, 0.9);
  height: 400px;
  width: 60vw;
}
header .menu__items .menu__iconX {
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}
header .menu__items .menu__iconX i {
  font-size: 1.5rem;
  color: rgb(63, 63, 63);
  transition: all 0.4s ease-out;
  margin-right: 5px;
}
header .menu__items .menu__iconX i:hover {
  color: black;
}
header .menu__items nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .menu__items nav ul li {
  width: 100%;
}
header .menu__items nav ul li a {
  transition: background-color 0.2s ease-out;
  padding: 20px;
  cursor: pointer;
  border-top: 1px solid rgba(184, 184, 184, 0.1764705882);
  border-bottom: 1px solid rgba(184, 184, 184, 0.1764705882);
  font-size: 1.2rem;
  color: rgb(63, 63, 63);
}
header .menu__items nav ul li a:hover {
  background-color: #ddd;
  color: black;
}

@media (min-width: 619px) {
  header .menu__icon {
    display: none;
  }
  header .menu {
    background-color: transparent;
    position: unset;
    opacity: 1;
    height: 100%;
    width: 60vw;
  }
  header .menu__items {
    background-color: transparent;
    height: 100%;
    width: 100%;
  }
  header .menu__items .menu__iconX {
    display: none;
  }
  header .menu__items nav {
    height: 100%;
  }
  header .menu__items nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  header .menu__items nav ul li {
    height: 30px;
    display: block;
  }
  header .menu__items nav ul li a {
    padding: 0;
    border: 0;
    height: 100%;
  }
  header .menu__items nav ul li a:hover {
    background-color: transparent;
  }
}
footer {
  background-color: #D9D9D9;
}
footer .footer__paginas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
  height: 90%;
}
footer .footer__paginas li {
  display: flex;
  justify-content: center;
}
footer .footer__paginas li a {
  color: black;
}
footer .footer__info {
  font-size: 0.8rem;
}
footer .footer__redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  flex-direction: column;
  padding-top: 20px;
}
footer .footer__redes .linkedin {
  color: #0A66C2;
  font-size: 1.5rem;
}
footer .footer__redes .youtube {
  color: #FF0000;
  font-size: 1.5rem;
}
footer .footer__redes .instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
  -webkit-background-clip: text;
  font-size: 1.5rem;
  color: transparent;
}

main {
  background-color: #FCFCFC;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  font-weight: 200;
}
.formulario__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.formulario__item label {
  display: block;
}
.formulario__item p {
  font-size: 0.7rem;
  font-weight: 700;
}

.boton-primario {
  width: 80px;
  height: 30px;
  background-color: #0067c0;
  color: white;
  border-radius: 5px 5px 5px 5px;
  border: 0;
  align-self: center;
  transition: all 0.2s ease-in-out;
}
.boton-primario:hover {
  background-color: #1a76c6;
}

.portada {
  width: 100%;
  height: 40vh;
  background-image: url(../assets/img/edificios/centro-innovacion.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.portada h1 {
  visibility: collapse;
}

.destacado__nosotros {
  width: 100%;
}
.destacado__nosotros div p {
  text-align: justify;
}

.destacado__proyecto {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.destacado__proyecto__Caption {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.8s ease-in-out;
}
.destacado__proyecto:hover > .destacado__proyecto__Caption {
  opacity: 1;
}

.servicios__item {
  height: 300px;
}
.servicios__item__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.servicios__item__img:hover > div {
  opacity: 1;
}
.servicios__item__back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: unset;
  opacity: 0;
  transition: all 0.6s ease-out;
}
.servicios__item__descrip {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.servicios__item__analisis {
  background-image: url(../assets/img/spec.png);
}
.servicios__item__bim {
  background-image: url(../assets/img/bim.jpg);
}
.servicios__item__revisor {
  background-image: url(../assets/img/revisor.jpg);
}
.servicios__item__rehab {
  background-image: url(../assets/img/rehab.jpg);
}

.empresa {
  background-color: cadetblue;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.empresa__title {
  margin: 20px;
  color: white;
}
.empresa__txt {
  color: white;
  padding: 50px 30px;
  text-align: justify;
  width: 90%;
}

@media (min-width: 992px) {
  .empresa__txt {
    width: 75%;
  }
}
.misionVision__vision {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}
.misionVision__vision p {
  text-align: justify;
}

.misionVision__mision {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.misionVision__mision p {
  text-align: justify;
}

.socios {
  background-color: white;
}

.servicios__portada {
  background-image: url(../assets/img/spec.gif);
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.servicios__title {
  background-color: rgba(0, 0, 0, 0.3);
  width: 97%;
  height: 100%;
}
.servicios__title h3 {
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

.text_justify {
  text-align: justify;
}

.servicios__servicios__item__descrip p {
  width: 60%;
}

.servicios__servicios article {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .servicios__servicios article {
    margin-bottom: 0;
  }
}
.proyectosRealizados {
  margin-bottom: 50px;
}
.proyectosRealizados article {
  padding-bottom: 20px;
}

.proyecto__1 {
  background-image: url("../assets/img/edificios-reducidos/carlosalvarado.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__1 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__1 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__1:hover > div {
  opacity: 1;
}
.proyecto__1:hover {
  transform: scale(1.1);
}

.proyecto__2 {
  background-image: url("../assets/img/edificios-reducidos/carloscabot-abc.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__2 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__2 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__2:hover > div {
  opacity: 1;
}
.proyecto__2:hover {
  transform: scale(1.1);
}

.proyecto__3 {
  background-image: url("../assets/img/edificios-reducidos/centro-innovacion.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__3 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__3 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__3:hover > div {
  opacity: 1;
}
.proyecto__3:hover {
  transform: scale(1.1);
}

.proyecto__4 {
  background-image: url("../assets/img/edificios-reducidos/dariourzua.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__4 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__4 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__4:hover > div {
  opacity: 1;
}
.proyecto__4:hover {
  transform: scale(1.1);
}

.proyecto__5 {
  background-image: url("../assets/img/edificios-reducidos/edificio-bellohorizonte.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__5 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__5 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__5:hover > div {
  opacity: 1;
}
.proyecto__5:hover {
  transform: scale(1.1);
}

.proyecto__6 {
  background-image: url("../assets/img/edificios-reducidos/edificio-conjunto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__6 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__6 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__6:hover > div {
  opacity: 1;
}
.proyecto__6:hover {
  transform: scale(1.1);
}

.proyecto__7 {
  background-image: url("../assets/img/edificios-reducidos/edificio-diegodealmagro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__7 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__7 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__7:hover > div {
  opacity: 1;
}
.proyecto__7:hover {
  transform: scale(1.1);
}

.proyecto__8 {
  background-image: url("../assets/img/edificios-reducidos/edificio-gralluidoriente.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__8 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__8 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__8:hover > div {
  opacity: 1;
}
.proyecto__8:hover {
  transform: scale(1.1);
}

.proyecto__9 {
  background-image: url("../assets/img/edificios-reducidos/edificio-gralwid.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__9 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__9 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__9:hover > div {
  opacity: 1;
}
.proyecto__9:hover {
  transform: scale(1.1);
}

.proyecto__10 {
  background-image: url("../assets/img/edificios-reducidos/edificio-hamburgo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__10 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__10 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__10:hover > div {
  opacity: 1;
}
.proyecto__10:hover {
  transform: scale(1.1);
}

.proyecto__11 {
  background-image: url("../assets/img/edificios-reducidos/edificio-losmilitares.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__11 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__11 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__11:hover > div {
  opacity: 1;
}
.proyecto__11:hover {
  transform: scale(1.1);
}

.proyecto__12 {
  background-image: url("../assets/img/edificios-reducidos/edificio-lyonalmagro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__12 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__12 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__12:hover > div {
  opacity: 1;
}
.proyecto__12:hover {
  transform: scale(1.1);
}

.proyecto__13 {
  background-image: url("../assets/img/edificios-reducidos/edificio-pocuro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__13 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__13 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__13:hover > div {
  opacity: 1;
}
.proyecto__13:hover {
  transform: scale(1.1);
}

.proyecto__14 {
  background-image: url("../assets/img/edificios-reducidos/edificio-santamagdalena.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__14 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__14 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__14:hover > div {
  opacity: 1;
}
.proyecto__14:hover {
  transform: scale(1.1);
}

.proyecto__15 {
  background-image: url("../assets/img/edificios-reducidos/lyon-costanera.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__15 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__15 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__15:hover > div {
  opacity: 1;
}
.proyecto__15:hover {
  transform: scale(1.1);
}

.proyecto__16 {
  background-image: url("../assets/img/edificios-reducidos/Edificio-Los-Gomeros.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
  transition: all 0.2s ease-in-out;
}
.proyecto__16 div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-out;
}
.proyecto__16 div p {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyecto__16:hover > div {
  opacity: 1;
}
.proyecto__16:hover {
  transform: scale(1.1);
}

.contacto {
  margin-bottom: 50px;
}
.contacto__info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 80px;
}
.contacto__info__item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: unset;
  height: 30%;
  align-items: center;
}

@media (min-width: 992px) {
  .contacto__info {
    align-items: flex-start;
    margin-left: 80px;
    margin-top: 0;
  }
  .contacto__info__item {
    align-items: unset;
  }
}

/*# sourceMappingURL=styles.css.map */
