.contacto{

    margin-bottom: 50px;
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        margin-top: 80px;
    
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 30%;
            align-items: center;
        }
    }
}

@media (min-width:992px){
    .contacto__info{
        align-items: flex-start;
        margin-left: 80px;
        margin-top: 0;

        &__item{
            align-items: unset;
        }
    }
}