.contacto{

    margin-bottom: 50px;
    &__info {
        @include flex(space-evenly,column,center);
        height: 100%;
        margin-top: 80px;
    
        &__item{
            @include flex(space-around,column);
            height: 30%;
            align-items: center;
        }
    }
}

@media (min-width:992px){
    .contacto__info{
        align-items: flex-start;
        margin-left: 80px;
        margin-top: 0;

        &__item{
            align-items: unset;
        }
    }
}