.empresa{
    background-color: $Color-secundario;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    box-shadow: $Box-Shadow;

    &__title{
        margin: 20px;
        color: white;
    }

    &__txt{
        color: white;
        padding: 50px 30px;
        text-align: justify;
        width: 90%;
    }
}

@media (min-width:992px){
    .empresa__txt{
        width: 75%;
    }
}

.misionVision__vision{

    @include flex(space-evenly,column,center);
    margin-left: 10px;

    p{
        text-align: justify;
    }
}

.misionVision__mision{
    
    @include flex(space-evenly,column,center);

    p{
        text-align: justify;
    }
}

.socios{
    background-color: white;
}