footer{
    background-color: #D9D9D9;

    .footer__paginas{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 20px;
        height: 90%; 

        li{
            display: flex;
            justify-content: center;
            a{
                color: black;
            }
        }
    }

    .footer__info{
        font-size: 0.8rem;
    }

    .footer__redes{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 150px;
        flex-direction: column;
        padding-top: 20px;

        .linkedin{
            color: #0A66C2;
            font-size: 1.5rem;
        }
        
        .youtube{
            color: #FF0000;
            font-size: 1.5rem;
        }
        
        .instagram{
            background: #f09433; 
            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
            background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
            -webkit-background-clip: text;
            font-size: 1.5rem;
            color: transparent;
        }
    }
}